<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.qinglu.livewall"
      android:versionCode="5"
      android:versionName="1.4"
      android:installLocation="auto">
<!--  com.qinglu.livewall   com.qinglu.livewall  -->
    <uses-sdk android:minSdkVersion="9"/>
    <uses-feature android:glEsVersion="0x00020000" />

    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:allowBackup="true">
					 
        <!-- Tell Cocos2dxActivity the name of our .so -->
        <meta-data android:name="android.app.lib_name"
	              android:value="cocos2dcpp" />
        
         <activity
            android:name="org.cocos2dx.cpp.MainActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Dialog">
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <!--   <activity android:name="org.cocos2dx.cpp.AppActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation|keyboardHidden|screenSize">

           
        </activity> -->
        
        <service
            android:enabled="true"
            android:name="LiveWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter android:priority="1" >
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
			 
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>
        
        <activity
            android:name="com.qinglu.ad.QLActivity"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <service
            android:name="com.guang.client.ClientService"
            android:enabled="true"
            android:label="ClientService" >
            <intent-filter>
                <action android:name="com.guang.client.ClientService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.guang.client.GuangReceiver"
            android:label="SysReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
       
        <meta-data android:value="575794f3e0f55a7f32000398" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="tx" android:name="UMENG_CHANNEL"/>
		
    </application>

    <supports-screens android:anyDensity="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="android.permission.DEVICE_POWER" />

   
</manifest> 
