<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>主人，你终于来看我了。</string>
	<string>主人，想死你啦！</string>
	<string>主人来喽！</string>
	<string>玩手机，还是玩我啊，好害羞</string>
	<string>是屏幕亮了，还是天亮了？</string>
	<string>终于开门了，憋闷死我了</string>
	<string>小主，我给你讲个段子呗</string>
	<string>领导，要来点啥？</string>
</array>
</plist>
