<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>主人，我的舞跳得棒不棒啊？</string>
	<string>主人，让我为你跳只舞吧！</string>
	<string>主人，看我的舞漂亮不？我可爱不？</string>
	<string>这是喵星人才会跳的舞哦</string>
	<string>我是喵星人</string>
	<string>汪星人会跳舞吗？</string>
	<string>我要跳舞，谁来PK?</string>
	<string>听说，三天后我就能学会钢管舞哦</string>
	<string>主人，三天后我会大变身，记得升级我啊</string>
</array>
</plist>
