<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>好无聊哦！主人，带我溜达一会吧？</string>
	<string>呵呵，现在精力好充沛啊，好想跳个舞呢！</string>
	<string>哇！花瓣好美丽啊！</string>
	<string>主人，快来看看我吧！</string>
	<string>小主，看，有花瓣。。。</string>
	<string>主人，快来挠挠我，我痒！</string>
	<string>再不来，我就躲起来了哦</string>
	<string>再不来，我真走了哦。。。</string>
	<string>主人，三天后我会大变身，记得升级我啊</string>
</array>
</plist>
