<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>不要看我了，人家都害羞了。。。</string>
	<string>主人，你看我可爱不？</string>
	<string>好开心啊！</string>
	<string>看我干什么</string>
	<string>看我？再看，我就发飙了哦</string>
	<string>人家是母的，会不好意思滴</string>
	<string>主人，我很快就会有新本领了哦</string>
	<string>听说，三天后我的身材会更好哦</string>
	<string>主人，三天后我会大变身，记得升级我啊</string>
</array>
</plist>
