<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>主人，你起的真早！</string>
	<string>主人，该吃早饭了呢？</string>
	<string>主人，早饭吃了什么呀？</string>
	<string>小主，早期的鸟儿有虫吃，你是那只鸟吗？</string>
	<string>小主，我要吃烧饼、油条</string>
	<string>小主，我还要吃面包加芝士</string>
	<string>小主，早饭没吃就出门了吧，好辛苦</string>
	<string>孩子，今天的工作多吗？</string>
	<string>主人，昨天有个SB欺负我了，我今早还难受呢</string>
	<string>报告：昨晚我做了个湿湿的X梦</string>
	<string>主人，三天后我会大变身，记得升级我啊</string>
</array>
</plist>
