<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>主人，你要早睡早起啊！</string>
	<string>主人，大深夜的，你约跑？</string>
	<string>主人，不要忘记吃晚饭啊！</string>
	<string>主人，晚饭吃的啥啊？</string>
	<string>主人，晚饭少吃点更健康哦</string>
	<string>走，散步去</string>
	<string>天黑了，该约啦</string>
	<string>主人，这黑灯瞎火的，你要干啥</string>
	<string>小主，看，有花瓣</string>
	<string>工作一天了，和我玩玩呗</string>
	<string>主人，今天有个二逼欺负我，你要做主啊</string>
	<string>主人，三天后我会大变身，记得升级我啊</string>
</array>
</plist>
