<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>主人，你要不要睡个午觉呢！</string>
	<string>主人，该吃午饭了呢？</string>
	<string>主人，中午吃了啥呀？</string>
	<string>听说，中午和午睡最配哦</string>
	<string>看，你午饭的米粒还在嘴边呢</string>
	<string>领导，中午就别让我跑了吧</string>
	<string>主人，三天后我会大变身，记得升级我啊</string>
</array>
</plist>
