<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>无聊，去那边看看！</string>
	<string>走一圈看看有啥好玩的不？</string>
	<string>主人，我都无聊的瞎逛游半天了。。</string>
	<string>主人，我都瞎逛游半天了。</string>
	<string>大人，让俺歇会吧</string>
	<string>军爷，小的实在跑不动了</string>
	<string>领导，你这是要累死我啊</string>
	<string>老师，这样体罚我至于嘛</string>
	<string>老大，留点力气让我抓老鼠吧</string>
	<string>看我的速度，其实我是母老虎</string>
	<string>听说，这样跑三天，我的体型更性感</string>
</array>
</plist>
