<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>哈哈，我要睡个香碰碰的觉，不要打扰我啊。。</string>
	<string>好困啊！</string>
	<string>主人，我好累了，让我睡会。。。</string>
	<string>好累，让我睡死算了</string>
	<string>我好像梦见TA了哦。。。</string>
	<string>春困，秋乏，夏盹，冬眠</string>
	<string>听说，睡足三天，我的体力就爆表了</string>
	<string>主人，三天后我会大变身，记得升级我啊</string>
</array>
</plist>
