<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>努力跑步，我要变得更快！</string>
	<string>我是一只热爱运动，热爱生活的小猫。。</string>
	<string>主人，快来跟着我跑吧！</string>
	<string>我跑，我跑，我跑跑跑！</string>
	<string>我是一只追花瓣的猫。</string>
	<string>我是来之花瓣的萌猫</string>
	<string>我追着花瓣，追着诗和远方</string>
	<string>主人，三天后我会大变身，记得升级我啊</string>
</array>
</plist>
