<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>哎呀！又一片花瓣砸我！</string>
	<string>好美丽啊，一片花瓣从我眼前飞过！</string>
	<string>花瓣，你不要跑！</string>
	<string>花瓣别砸我啦，头上已经三个包啦</string>
	<string>翠花，看，有花瓣</string>
	<string>又被花瓣砸了，买彩票去</string>
	<string>我算算，被花瓣砸中的概率是多少</string>
	<string>又砸我？为什么倒霉的总是我</string>
</array>
</plist>
